body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le corps occupe toute la hauteur de la fenêtre */
}

nav {
    margin-top: auto; /* Pousse le nav vers le bas */
    background-color: #f8f9fa; /* Exemple de couleur de fond */
    padding: 10px; /* Un peu d'espace autour du nav */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Ombre pour un effet visuel */
}

ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    display: flex; /* Aligne les éléments en ligne */
    justify-content: space-around; /* Espace égal entre les éléments */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
